<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="us.pwc.vista.eclipse.terminal.VistA"
            name="VistA">
      </category>
      <view
            allowMultiple="true"
            category="us.pwc.vista.eclipse.terminal.VistA"
            class="us.pwc.vista.eclipse.terminal.VistATerminalView"
            icon="platform:/plugin/us.pwc.vista.eclipse.core/icons/m.gif"
            id="us.pwc.vista.eclipse.terminal.VistATerminalView"
            name="VistA Terminal"
            restorable="true">
      </view>
   </extension>

</plugin>
