<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="us.pwc.vista.eclipse.core.PerspectiveFactory"
            icon="icons/m.gif"
            id="us.pwc.vista.eclipse.core.perspective"
            name="VistA">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="us.pwc.vista.eclipse.core.perspective">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="us.pwc.vista.eclipse.core.perspective">
            </equals>
         </with>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.mfile">
         <and>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <test
                  property="org.eclipse.core.resources.extension"
                  value="m">
            </test>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.mfolder">
         <or>
            <instanceof
                  value="org.eclipse.core.resources.IFolder">
            </instanceof>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </or>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.mresource">
         <or>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mfile">
            </reference>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mfolder">
            </reference>
         </or>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.mtree">
         <and>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.perspective">
            </reference>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="us.pwc.vista.eclipse.core.exprdef.mresource">
               </reference>
            </iterate>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.mtree.folderrequired">
         <and>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.perspective">
            </reference>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <reference
                     definitionId="us.pwc.vista.eclipse.core.exprdef.mfolder">
               </reference>
            </iterate>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mtree">
            </reference>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.mtree.onefolderonly">
         <and>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.perspective">
            </reference>
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="us.pwc.vista.eclipse.core.exprdef.mfolder">
               </reference>
            </iterate>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.mtree.onefileonly">
         <and>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.perspective">
            </reference>
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="us.pwc.vista.eclipse.core.exprdef.mfile">
               </reference>
            </iterate>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.mtree.multifilesorfolder">
         <and>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.perspective">
            </reference>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mtree">
            </reference>
            <not>
               <reference
                     definitionId="us.pwc.vista.eclipse.core.exprdef.mtree.onefileonly">
               </reference>
            </not>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.editor.mfile">
         <and>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.perspective">
            </reference>
            <with
                  variable="activeEditorInput">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.exprdef.mfile">
                  </reference>
               </adapt>
            </with>
            <with
                  variable="activeMenu">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="#TextEditorContext">
                  </equals>
               </iterate>
            </with>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.composite.onemfileonly">
         <or>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mtree.onefileonly">
            </reference>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.editor.mfile">
            </reference>
         </or>
      </definition>
      <definition
            id="us.pwc.vista.eclipse.core.exprdef.tagsupply">
         <and>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.perspective">
            </reference>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="us.pwc.vista.eclipse.core.command.IMTagSupply">
               </instanceof>
            </iterate>
            <with
                  variable="activeEditorInput">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.exprdef.mfile">
                  </reference>
               </adapt>
            </with>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <commandParameterType
            converter="us.pwc.vista.eclipse.core.command.BooleanParameterConverter"
            id="us.pwc.vista.eclipse.core.cmdparamtype.boolean"
            type="java.lang.Boolean">
      </commandParameterType>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="us.pwc.vista.eclipse.core.menusep.m"
               visible="false">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="us.pwc.vista.eclipse.core.prefui.VistAProjectPropertyPage"
            id="us.pwc.vista.eclipse.core.project.propertyPage"
            name="VistA">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="us.pwc.vista.eclipse.core.prefui.VistAPreferencePage"
            id="us.pwc.vista.eclipse.core.preferences.vistaPreferencePage"
            name="VistA">
      </page>
   </extension>

</plugin>
