<?xml version="1.0" encoding ="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="us.pwc.eclipse.vista.command.ReportAssumeVariables"
            id="us.pwc.eclipse.vista.assumevariable"
            name="Report Assume Variables">
      </command>
      <command
            defaultHandler="us.pwc.eclipse.vista.command.ReportErrors"
            id="us.pwc.eclipse.vista.error"
            name="Report Errors">
      </command>
      <command
            defaultHandler="us.pwc.eclipse.vista.command.ReportOccurances"
            id="us.pwc.eclipse.vista.occurance"
            name="Report Occurances">
      </command>
      <command
            defaultHandler="us.pwc.eclipse.vista.command.ValidateQuitTypes"
            id="us.pwc.eclipse.vista.quittype"
            name="Validate Quit Types">
      </command>
      <command
            defaultHandler="us.pwc.eclipse.vista.command.ExpandKeywords"
            id="us.pwc.eclipse.vista.expandkeywords"
            name="Expand Keywords">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:gov.va.med.iss.meditor.editors.outline.contextmenu"> <!--?after=additions -->
         <menu
               label="M Tools"
               icon="$nl$/icons/full/mtools16/meditor.gif">
            <command
                  commandId="us.pwc.eclipse.vista.assumevariable"
                  style="push">
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.error"
                  style="push">
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.occurance"
                  style="push">
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.quittype"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               label="M Tools"
               icon="$nl$/icons/full/mtools16/meditor.gif">
            <command
                  commandId="us.pwc.eclipse.vista.assumevariable"
                  style="push">
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.error"
                  style="push">
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.occurance"
                  style="push">
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.quittype"
                  style="push">
            </command>
         </menu>
      </menuContribution>


	<!-- Adding MRA Tools to the M Editor -->
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions"> <!--TODO: add logic to only apply to M Editor -->
         <menu
               label="M Tools"
               icon="$nl$/icons/full/mtools16/meditor.gif">
            <command
                  commandId="us.pwc.eclipse.vista.assumevariable"
                  style="push">
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.error"
                  style="push">
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.occurance"
                  style="push">
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.quittype"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               label="M Refactor"
               icon="$nl$/icons/full/mtools16/meditor.gif">
            <command
                  commandId="us.pwc.eclipse.vista.expandkeywords"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
