<?xml version="1.0" encoding ="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="us.pwc.vista.eclipse.tools.tagsupply">
         <and>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.perspective">
            </reference>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     property="gov.va.med.iss.meditor.propertyTester.tag">
               </test>
            </iterate>
            <with
                  variable="activeEditorInput">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.exprdef.mfile">
                  </reference>
               </adapt>
            </with>
         </and>
      </definition>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="us.pwc.eclipse.vista.eclipse.tools.expandkeywords"
            name="Expand Keywords">
      </command>
      <command
            id="us.pwc.eclipse.vista.eclipse.tools.assumedvariables"
            name="Report Assumed Variables">
      </command>
      <command
            id="us.pwc.eclipse.vista.eclipse.tools.errors"
            name="Report Errors">
      </command>
      <command
            id="us.pwc.eclipse.vista.eclipse.tools.occurances"
            name="Report Occurances">
      </command>
      <command
            id="us.pwc.eclipse.vista.eclipse.tools.quittypes"
            name="Validate Quit Types">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">


	<!-- Adding MRA Tools to the M Editor -->
      
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=us.pwc.vista.eclipse.core.menusep.m">
         <menu
               label="M Refactor"
               icon="platform:/plugin/us.pwc.vista.eclipse.core/icons/m.gif">
            <command
                  commandId="us.pwc.eclipse.vista.eclipse.tools.expandkeywords"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=us.pwc.vista.eclipse.core.menusep.m">
         <menu
               icon="platform:/plugin/us.pwc.vista.eclipse.core/icons/m.gif"
               label="M Tools">
            <command
                  commandId="us.pwc.eclipse.vista.eclipse.tools.assumedvariables"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.eclipse.tools.errors"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.eclipse.tools.occurances"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="us.pwc.eclipse.vista.eclipse.tools.quittypes"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="us.pwc.eclipse.vista.propertyPage.MTools"
            id="us.pwc.eclipse.vista.propertyPage.MTools"
            name="M Tools">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="us.pwc.eclipse.vista.propertyPage.MTools"
            class="us.pwc.eclipse.vista.propertyPage.AssumedVariables"
            id="us.pwc.eclipse.vista.propertyPage.AssumedVariables"
            name="Assumed Variables">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="us.pwc.eclipse.vista.propertyPage.MTools"
            class="us.pwc.eclipse.vista.propertyPage.Occurances"
            id="us.pwc.eclipse.vista.propertyPage.Occurances"
            name="Occurances">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="us.pwc.eclipse.vista.command.AssumedVariablesFilesCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.assumedvariables">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mtree">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.AssumedVariablesEditorCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.assumedvariables">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.editor.mfile">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.AssumedVariablesTagsCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.assumedvariables">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.tools.tagsupply">
            </reference></activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.ErrorsFilesCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.errors">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mtree">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.ErrorsEditorCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.errors">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.editor.mfile">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.ErrorsTagsCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.errors">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.tools.tagsupply">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.OccurancesTagsCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.occurances">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.tools.tagsupply">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.OccurancesFilesCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.occurances">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mtree">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.OccurancesEditorCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.occurances">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.editor.mfile">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.QuitTypesTagsCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.quittypes">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.tools.tagsupply">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.QuitTypesFilesCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.quittypes">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mtree">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.QuitTypesEditorCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.quittypes">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.editor.mfile">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.eclipse.vista.command.ExpandKeywordsEditorCmd"
            commandId="us.pwc.eclipse.vista.eclipse.tools.expandkeywords">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.editor.mfile">
            </reference>
         </activeWhen>
      </handler>
   </extension>

</plugin>
