<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="gov.va.med.iss.connection">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="gov.va.med.iss.connection.vista"
               label="&amp;VistA">
            <command
                  commandId="gov.va.med.iss.connection.command.connectToVistA"
                  icon="icons/vistaconnect.gif"
                  label="&amp;Connect to VistA"
                  style="push">
            </command>
            <command
                  commandId="gov.va.med.iss.connection.command.disconnectFromVistA"
                  icon="icons/vistadisconnect.gif"
                  label="&amp;Disconnect from VistA"
                  style="push">
            </command>
            <separator
                  name="gov.va.med.iss.connection.separator1"
                  visible="true">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="us.pwc.vista.eclipse.core.perspective">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="gov.va.med.iss.connection.command.ConnectToVistA"
            id="gov.va.med.iss.connection.command.connectToVistA"
            name="Connect to VistA">
         <commandParameter
               id="gov.va.med.iss.meditor.command.saveRoutines.specifyNamespace"
               name="Specify Namespace"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="gov.va.med.iss.connection.command.DisconnectFromVistA"
            id="gov.va.med.iss.connection.command.disconnectFromVistA"
            name="Disconnect From VistA">
      </command>
   </extension>
</plugin>
