<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- this can support run, but it will need a more cleaner way of just running the code without breaking -->
   <!-- Launch Configuration Type -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="gov.va.mumps.debug.core.sourceLookupDirector"
            name="MUMPS Launch Configuration"
            sourcePathComputerId="gov.va.mumps.debug.core.sourcePathComputer"
            delegate="gov.va.mumps.debug.core.launching.MLaunchDelegate"
            modes="run, debug"
            id="gov.va.mumps.debug.core.launchConfigurationType">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="MUMPS Source Lookup Director"
            class="gov.va.mumps.debug.core.launching.MSourceLookupDirector"
            id="gov.va.mumps.debug.core.sourceLookupDirector">
      </sourceLocator>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="gov.va.mumps.debug.core.launching.MSourcePathComputerDelegate"
            id="gov.va.mumps.debug.core.sourcePathComputer">
      </sourcePathComputer>
   </extension>
   
   <!-- Breakpoints -->
   <!-- Line Breakpoint -->
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="gov.va.med.iss.debug.core.lineBreakpoint.marker"
            class="gov.va.mumps.debug.core.model.MLineBreakpoint"
            id="gov.va.mumps.debug.core.lineBreakpoint">
      </breakpoint>
   </extension>
   <!-- note: the ids for extension ids are prefixed with the plugin id, 
   		hence why gov.va.etc... is not here-->
   <extension
         id="lineBreakpoint.marker" 
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <!-- Tag Breakpoint -->
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="gov.va.med.iss.debug.core.tagBreakpoint.marker"
            class="gov.va.mumps.debug.core.model.MTagBreakpoint"
            id="gov.va.mumps.debug.core.tagBreakpoint">
      </breakpoint>
   </extension>
   <!-- note: the ids for extension ids are prefixed with the plugin id, 
   		hence why gov.va.etc... is not here-->
   <extension
         id="tagBreakpoint.marker" 
         point="org.eclipse.core.resources.markers">
      <super 
			type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <!-- Watchpoints -->
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="gov.va.med.iss.debug.core.watchpoint.marker"
            class="gov.va.mumps.debug.core.model.MWatchpoint"
            id="gov.va.mumps.debug.core.watchpoint">
      </breakpoint>
   </extension>
   <!-- note: the ids for extension ids are prefixed with the plugin id, 
   		hence why gov.va.etc... is not here-->
   <extension
         id="watchpoint.marker"
         point="org.eclipse.core.resources.markers">
      <super 
			type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
