<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="us.pwc.vista.mlib.exprdef"
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="us.pwc.vista.mlib.exprdef.mfile">
         <and>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <test
                  property="org.eclipse.core.resources.extension"
                  value="m">
            </test>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.mlib.exprdef.mfolder">
         <or>
            <instanceof
                  value="org.eclipse.core.resources.IFolder">
            </instanceof>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </or>
      </definition>
      <definition
            id="us.pwc.vista.mlib.exprdef.mresource">
         <or>
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.mfile">
            </reference>
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.mfolder">
            </reference>
         </or>
      </definition>
      <definition
            id="us.pwc.vista.mlib.exprdef.mtree">
         <iterate
               ifEmpty="false"
               operator="and">
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.mresource">
            </reference>
         </iterate>
      </definition>
      <definition
            id="us.pwc.vista.mlib.exprdef.mtree.folderrequired">
         <and>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <reference
                     definitionId="us.pwc.vista.mlib.exprdef.mfolder">
               </reference>
            </iterate>
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.mtree">
            </reference>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.mlib.exprdef.mtree.onefolderonly">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="us.pwc.vista.mlib.exprdef.mfolder">
               </reference>
            </iterate>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.mlib.exprdef.mtree.onefileonly">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <reference
                     definitionId="us.pwc.vista.mlib.exprdef.mfile">
               </reference>
            </iterate>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.mlib.exprdef.mtree.multifilesorfolder">
         <and>
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.mtree">
            </reference>
            <not>
               <reference
                     definitionId="us.pwc.vista.mlib.exprdef.mtree.onefileonly">
               </reference>
            </not>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.mlib.exprdef.editor.mfile">
         <and>
            <with
                  variable="activeEditorInput">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <reference
                        definitionId="us.pwc.vista.mlib.exprdef.mfile">
                  </reference>
               </adapt>
            </with>
            <with
                  variable="activeMenu">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="#TextEditorContext">
                  </equals>
               </iterate>
            </with>
         </and>
      </definition>
      <definition
            id="us.pwc.vista.mlib.exprdef.composite.onemfileonly">
         <or>
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.mtree.onefileonly">
            </reference>
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.editor.mfile">
            </reference>
         </or>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <commandParameterType
            converter="us.pwc.vista.mlib.command.BooleanParameterConverter"
            id="us.pwc.vista.mlib.cmdparamtype.boolean"
            type="java.lang.Boolean">
      </commandParameterType>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="us.pwc.vista.mlib.menusep.m"
               visible="false">
         </separator>
      </menuContribution>
   </extension>

</plugin>
