<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="us.pwc.vista.eclipse.core.project.propertyPage"
            class="us.pwc.vista.eclipse.server.preferences.RoutineLoadPage"
            id="us.pwc.vista.eclipse.server.proprtyPage.RoutineLoad"
            name="Routine Load">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:gov.va.med.iss.connection.vista?after=additions">
         <command
               commandId="us.pwc.vista.eclipse.server.command.loadMRoutine"
               icon="platform:/plugin/us.pwc.vista.eclipse.core/icons/m.gif"
               label="&amp;Load M Routine"
               style="push">
         </command>
         <separator
               name="us.pwc.vista.eclipse.server.seperator1"
               visible="true">
         </separator>
         <command
               commandId="us.pwc.vista.eclipse.server.command.reportGlobalDirectory"
               icon="platform:/plugin/us.pwc.vista.eclipse.core/icons/m.gif"
               label="Global Directory"
               style="push">
         </command>
         <command
               commandId="us.pwc.vista.eclipse.server.command.reportGlobalListing"
               icon="platform:/plugin/us.pwc.vista.eclipse.core/icons/m.gif"
               label="Global Listing"
               style="push">
         </command>
         <command
               commandId="us.pwc.vista.eclipse.server.command.reportRoutineDirectory"
               icon="platform:/plugin/us.pwc.vista.eclipse.core/icons/m.gif"
               label="Routine Directory"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="us.pwc.vista.eclipse.server.toolbar1">
            <command
                  commandId="us.pwc.vista.eclipse.server.command.loadMRoutine"
                  icon="platform:/plugin/us.pwc.vista.eclipse.core/icons/m.gif"
                  label="Load M Routine"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.perspective">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=us.pwc.vista.eclipse.core.menusep.m">
         <menu
               icon="platform:/plugin/us.pwc.vista.eclipse.core/icons/m.gif"
               label="M Server">
            <command
                  commandId="us.pwc.vista.eclipse.server.command.loadRoutine"
                  label="Load Routine"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.exprdef.composite.onemfileonly">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="us.pwc.vista.eclipse.server.command.loadRoutine"
                  label="Load Routines"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.exprdef.mtree.multifilesorfolder">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="us.pwc.vista.eclipse.server.command.loadRoutine"
                  label="Load Routine into Folder"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.exprdef.mtree.onefolderonly">
                  </reference>
               </visibleWhen>
               <parameter
                     name="us.pwc.vista.eclipse.server.command.loadRoutine.folder"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="us.pwc.vista.eclipse.server.command.loadRoutine"
                  label="Load Namespace into Folder"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.exprdef.mtree.onefolderonly">
                  </reference>
               </visibleWhen>
               <parameter
                     name="us.pwc.vista.eclipse.server.command.loadRoutine.namespace"
                     value="true">
               </parameter>
               <parameter
                     name="us.pwc.vista.eclipse.server.command.loadRoutine.folder"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="us.pwc.vista.eclipse.server.command.saveRoutine"
                  label="Save Routine"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.exprdef.composite.onemfileonly">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="us.pwc.vista.eclipse.server.command.saveRoutine"
                  label="Save Routines"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.exprdef.mtree.multifilesorfolder">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="us.pwc.vista.eclipse.server.command.saveRoutine"
                  label="Save Namespace"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.eclipse.core.exprdef.mtree.folderrequired">
                  </reference>
               </visibleWhen>
               <parameter
                     name="us.pwc.vista.eclipse.server.command.saveRoutine.namespace"
                     value="true">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="us.pwc.vista.eclipse.server.command.loadRoutine"
            name="Load Routine">
         <commandParameter
               id="us.pwc.vista.eclipse.server.command.loadRoutine.namespace"
               name="Namespace"
               optional="true"
               typeId="us.pwc.vista.eclipse.core.cmdparamtype.boolean">
         </commandParameter>
         <commandParameter
               id="us.pwc.vista.eclipse.server.command.loadRoutine.folder"
               name="Folder"
               optional="true"
               typeId="us.pwc.vista.eclipse.core.cmdparamtype.boolean">
         </commandParameter>
      </command>
      <command
            id="us.pwc.vista.eclipse.server.command.saveRoutine"
            name="Save Routine">
         <commandParameter
               id="us.pwc.vista.eclipse.server.command.saveRoutine.namespace"
               name="Namespace"
               optional="true"
               typeId="us.pwc.vista.eclipse.core.cmdparamtype.boolean">
         </commandParameter>
      </command>
      <command
            id="us.pwc.vista.eclipse.server.command.loadMRoutine"
            name="Load M Routine">
      </command>
      <command
            defaultHandler="us.pwc.vista.eclipse.server.command.ReportRoutineDirectory"
            id="us.pwc.vista.eclipse.server.command.reportRoutineDirectory"
            name="Routine Directory">
      </command>
      <command
            defaultHandler="us.pwc.vista.eclipse.server.command.ReportGlobalDirectory"
            id="us.pwc.vista.eclipse.server.command.reportGlobalDirectory"
            name="Global Directory">
      </command>
      <command
            defaultHandler="us.pwc.vista.eclipse.server.command.ReportGlobalListing"
            id="us.pwc.vista.eclipse.server.command.reportGlobalListing"
            name="Global Listing">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="us.pwc.vista.eclipse.server.command.LoadRoutine"
            commandId="us.pwc.vista.eclipse.server.command.loadRoutine">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mtree">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.vista.eclipse.server.command.SaveRoutine"
            commandId="us.pwc.vista.eclipse.server.command.saveRoutine">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.mtree">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.vista.eclipse.server.command.LoadEditorRoutine"
            commandId="us.pwc.vista.eclipse.server.command.loadRoutine">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.editor.mfile">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.vista.eclipse.server.command.SaveEditorRoutine"
            commandId="us.pwc.vista.eclipse.server.command.saveRoutine">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.eclipse.core.exprdef.editor.mfile">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="us.pwc.vista.eclipse.server.command.LoadMRoutine"
            commandId="us.pwc.vista.eclipse.server.command.loadMRoutine">
      </handler>
   </extension>

</plugin>
