<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.va.med.iss.meditor.treemresources">
         <iterate
               ifEmpty="false"
               operator="and">
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="m">
                  </test>
               </and>
            </or>
         </iterate>
      </definition>
      <definition
            id="gov.va.med.iss.meditor.treemresourceswithfolders">
         <and>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </or>
            </iterate>
            <reference
                  definitionId="gov.va.med.iss.meditor.treemresources">
            </reference>
         </and>
      </definition>
      <definition
            id="gov.va.med.iss.meditor.onlyfolder">
         <and>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </or>
            </iterate>
            <count
                  value="1">
            </count>
         </and>
      </definition>
   </extension>

   <extension
         id="gov.va.med.iss.meditor.meditor"
         name="gov.va.med.iss.meditor.meditor"
         point="org.eclipse.ui.editors">
      <editor
            class="gov.va.med.iss.meditor.editors.MEditor"
            icon="icons/mfile.gif"
            contributorClass="gov.va.med.iss.meditor.editors.MEditorContributor"
            name="MEditor"
            id="gov.va.med.iss.meditor.editors.MEditor"
            extensions="m"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="M-Editor"
            category="gov.va.med.iss.connection.preferences.VistaPreferencePage"
            class="gov.va.med.iss.meditor.preferences.MEditorPreferencesPage"
            id="gov.va.med.iss.meditor.preferences.MEditorPreferencesPage">
      </page>
    </extension>
   <extension
         id="gov.va.med.iss.meditor.preferences.meditorPropertyPage1"
         name="M-Editor"
         point="org.eclipse.ui.propertyPages">
      <page
            class="gov.va.med.iss.meditor.preferences.MEditorPropertyPage1"
            icon="icons/meditor.gif"
            id="gov.va.med.iss.meditor.page1"
            name="M-Editor"
            nameFilter="*.m">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:gov.va.med.iss.connection.vista?after=additions">
         <command
               commandId="gov.va.med.iss.meditor.command.loadMRoutine"
               icon="icons/meditor.gif"
               label="&amp;Load M Routine"
               style="push">
         </command>
         <separator
               name="gov.va.med.iss.meditor.seperator1"
               visible="true">
         </separator>
         <command
               commandId="gov.va.med.iss.meditor.command.reportGlobalDirectory"
               icon="icons/meditor.gif"
               label="Global Directory"
               style="push">
         </command>
         <command
               commandId="gov.va.med.iss.meditor.command.reportGlobalListing"
               icon="icons/meditor.gif"
               label="Global Listing"
               style="push">
         </command>
         <command
               commandId="gov.va.med.iss.meditor.command.reportRoutineDirectory"
               icon="icons/meditor.gif"
               label="Routine Directory"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="gov.va.med.iss.meditor.toolbar1">
            <command
                  commandId="gov.va.med.iss.meditor.command.loadMRoutine"
                  icon="icons/meditor.gif"
                  label="Load M Routine"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.mlib.perspective">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=us.pwc.vista.mlib.menusep.m">
         <menu
               icon="icons/meditor.gif"
               label="M Server">
            <command
                  commandId="gov.va.med.iss.meditor.command.loadRoutine"
                  label="Load Routine"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.mlib.exprdef.composite.onemfileonly">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="gov.va.med.iss.meditor.command.loadRoutine"
                  label="Load Routines"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.mlib.exprdef.mtree.multifilesorfolder">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="gov.va.med.iss.meditor.command.loadRoutine"
                  label="Load Routine into Folder"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.mlib.exprdef.mtree.onefolderonly">
                  </reference>
               </visibleWhen>
               <parameter
                     name="gov.va.med.iss.meditor.command.loadRoutine.folder"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="gov.va.med.iss.meditor.command.loadRoutine"
                  label="Load Namespace into Folder"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.mlib.exprdef.mtree.onefolderonly">
                  </reference>
               </visibleWhen>
               <parameter
                     name="gov.va.med.iss.meditor.command.loadRoutine.namespace"
                     value="true">
               </parameter>
               <parameter
                     name="gov.va.med.iss.meditor.command.loadRoutine.folder"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="gov.va.med.iss.meditor.command.saveRoutine"
                  label="Save Routine"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.mlib.exprdef.composite.onemfileonly">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="gov.va.med.iss.meditor.command.saveRoutine"
                  label="Save Routines"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.mlib.exprdef.mtree.multifilesorfolder">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="gov.va.med.iss.meditor.command.saveRoutine"
                  label="Save Namespace"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="us.pwc.vista.mlib.exprdef.mtree.folderrequired">
                  </reference>
               </visibleWhen>
               <parameter
                     name="gov.va.med.iss.meditor.command.saveRoutine.namespace"
                     value="true">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="gov.va.med.iss.meditor.command.loadRoutine"
            name="Load Routine">
         <commandParameter
               id="gov.va.med.iss.meditor.command.loadRoutine.namespace"
               name="Namespace"
               optional="true"
               typeId="us.pwc.vista.mlib.cmdparamtype.boolean">
         </commandParameter>
         <commandParameter
               id="gov.va.med.iss.meditor.command.loadRoutine.folder"
               name="Folder"
               optional="true"
               typeId="us.pwc.vista.mlib.cmdparamtype.boolean">
         </commandParameter>
      </command>
      <command
            id="gov.va.med.iss.meditor.command.saveRoutine"
            name="Save Routine">
         <commandParameter
               id="gov.va.med.iss.meditor.command.saveRoutine.namespace"
               name="Namespace"
               optional="true"
               typeId="us.pwc.vista.mlib.cmdparamtype.boolean">
         </commandParameter>
      </command>
      <command
            defaultHandler="gov.va.med.iss.meditor.command.LoadMRoutine"
            id="gov.va.med.iss.meditor.command.loadMRoutine"
            name="Load M Routine">
      </command>
      <command
            defaultHandler="gov.va.med.iss.meditor.command.ReportRoutineDirectory"
            id="gov.va.med.iss.meditor.command.reportRoutineDirectory"
            name="Routine Directory">
      </command>
      <command
            defaultHandler="gov.va.med.iss.meditor.command.ReportGlobalDirectory"
            id="gov.va.med.iss.meditor.command.reportGlobalDirectory"
            name="Global Directory">
      </command>
      <command
            defaultHandler="gov.va.med.iss.meditor.command.ReportGlobalListing"
            id="gov.va.med.iss.meditor.command.reportGlobalListing"
            name="Global Listing">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.va.med.iss.meditor.command.LoadRoutine"
            commandId="gov.va.med.iss.meditor.command.loadRoutine">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.mtree">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="gov.va.med.iss.meditor.command.SaveRoutine"
            commandId="gov.va.med.iss.meditor.command.saveRoutine">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.mtree">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="gov.va.med.iss.meditor.command.LoadEditorRoutine"
            commandId="gov.va.med.iss.meditor.command.loadRoutine">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.editor.mfile">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="gov.va.med.iss.meditor.command.SaveEditorRoutine"
            commandId="gov.va.med.iss.meditor.command.saveRoutine">
         <activeWhen>
            <reference
                  definitionId="us.pwc.vista.mlib.exprdef.editor.mfile">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="gov.va.med.iss.meditor.command.MRoutineTagTester"
            id="gov.va.med.iss.meditor.propertyTester1"
            namespace="gov.va.med.iss.meditor.propertyTester"
            properties="tag"
            type="gov.va.med.iss.meditor.editors.SegmentAsTag">
      </propertyTester>
   </extension>
</plugin>
