<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="gov.va.med.iss.meditor.meditor"
         name="gov.va.med.iss.meditor.meditor"
         point="org.eclipse.ui.editors">
      <editor
            class="gov.va.med.iss.meditor.editors.MEditor"
            icon="icons/mfile.gif"
            contributorClass="gov.va.med.iss.meditor.editors.MEditorContributor"
            name="MEditor"
            id="gov.va.med.iss.meditor.editors.MEditor"
            extensions="m,mbk"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="M-Editor"
            category="us.pwc.vista.eclipse.core.preferences.vistaPreferencePage"
            class="gov.va.med.iss.meditor.preferences.MEditorPreferencesPage"
            id="gov.va.med.iss.meditor.preferences.MEditorPreferencesPage">
      </page>
    </extension>
   

   
   
   
   
   
</plugin>
