<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="gov.va.med.iss.meditor.actionSet">
         <menu
               label="&amp;VistA"
               id="vistaMenu">
            <separator
                  name="editGroup">
            </separator>
         </menu>
         <action
               label="&amp;Load M routine"
               icon="icons/meditor.gif"
               class="gov.va.med.iss.meditor.actions.RoutineEditAction"
               tooltip="Load M routine"
               menubarPath="vistaMenu/editGroup"
               toolbarPath="vistaGroup"
               id="gov.va.med.iss.meditor.actions.RoutineEditAction">
         </action>
      </actionSet>
      <actionSet
            label="Global Directory"
            visible="true"
            id="gov.va.med.iss.meditor.globalDirectory">
         <menu
               label="&amp;VistA"
               id="vistaMenu">
            <separator
                  name="toolsGroup">
            </separator>
         </menu>
         <action
               label="Global &amp;Directory"
               icon="icons/meditor.gif"
               class="gov.va.med.iss.meditor.actions.GlobalDirectoryAction"
               tooltip="List of Global Names"
               menubarPath="vistaMenu/toolGroup"
               id="gov.va.med.iss.meditor.actions.GlobalDirectoryAction">
         </action>
      </actionSet>
      <actionSet
            label="Global Listing"
            visible="true"
            id="gov.va.med.iss.meditor.globalListing">
         <menu
               label="&amp;VistA"
               id="vistaMenu">
            <separator
                  name="toolsGroup">
            </separator>
         </menu>
         <action
               label="&amp;Global Listing"
               icon="icons/meditor.gif"
               class="gov.va.med.iss.meditor.actions.GlobalListingAction"
               tooltip="List of Global Contents"
               menubarPath="vistaMenu/toolGroup"
               id="gov.va.med.iss.meditor.actions.GlobalListingAction">
         </action>
      </actionSet>
      <actionSet
            label="Routine Directory"
            visible="true"
            id="gov.va.med.iss.meditor.routineDirectory">
         <menu
               label="VistA"
               id="vistaMenu">
            <separator
                  name="toolsGroup">
            </separator>
         </menu>
         <action
               label="&amp;Routine Directory"
               icon="icons/meditor.gif"
               class="gov.va.med.iss.meditor.actions.RoutineDirectoryAction"
               tooltip="List of Routine Names"
               menubarPath="vistaMenu/toolGroup"
               id="gov.va.med.iss.meditor.actions.RoutineDirectoryAction">
         </action>
      </actionSet>
       <actionSet
            label="Multiple Routine Load From Server"
            visible="true"
            id="gov.va.med.iss.meditor.multipleRoutineLoad">
         <menu
               label="VistA"
               id="vistaMenu">
            <separator
                  name="toolsGroup">
            </separator>
         </menu>
         <action
               label="&amp;Multiple Routine Load From Server"
               icon="icons/meditor.gif"
               class="gov.va.med.iss.meditor.actions.MultRoutineLoadAction"
               tooltip="Loads and Saves Multiple Routines FROM Server"
               menubarPath="vistaMenu/toolGroup"
               id="gov.va.med.iss.meditor.actions.MultRoutineLoadAction">
         </action>
      </actionSet>
       <actionSet
            label="Multiple Routine Save To Server"
            visible="true"
            id="gov.va.med.iss.meditor.multipleRoutineSave">
         <menu
               label="VistA"
               id="vistaMenu">
            <separator
                  name="toolsGroup">
            </separator>
         </menu>
         <action
               label="Multiple Routine &amp;Save To Server"
               icon="icons/meditor.gif"
               class="gov.va.med.iss.meditor.actions.MultRoutineSaveAction"
               tooltip="Saves Multiple Routines to Server from specified directory"
               menubarPath="vistaMenu/toolGroup"
               id="gov.va.med.iss.meditor.actions.MultRoutineSaveAction">
         </action>
      </actionSet>
   </extension>
   <extension
         id="gov.va.med.iss.meditor.meditor"
         name="gov.va.med.iss.meditor.meditor"
         point="org.eclipse.ui.editors">
      <editor
            class="gov.va.med.iss.meditor.editors.MEditor"
            icon="icons/mfile.gif"
            contributorClass="gov.va.med.iss.meditor.editors.MEditorContributor"
            name="MEditor"
            id="gov.va.med.iss.meditor.editors.MEditor"
            extensions="m"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="M-Editor"
            category="gov.va.med.iss.connection.preferences.VistaPreferencePage"
            class="gov.va.med.iss.meditor.preferences.MEditorPreferencesPage"
            id="gov.va.med.iss.meditor.preferences.MEditorPreferencesPage">
      </page>
    </extension>
   <extension
         id="gov.va.med.iss.meditor.preferences.meditorPropertyPage1"
         name="M-Editor"
         point="org.eclipse.ui.propertyPages">
      <page
            class="gov.va.med.iss.meditor.preferences.MEditorPropertyPage1"
            icon="icons/meditor.gif"
            id="gov.va.med.iss.meditor.page1"
            name="M-Editor"
            nameFilter="*.m">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="gov.va.med.iss.meditor.mserverutil"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="gov.va.med.iss.meditor.mserverutil.topmenu"
               label="M Server Util"
               icon="icons/meditor.gif"
               path="additions">
            <separator
                  name="seperator1">
            </separator>
         </menu>
         <action
               class="gov.va.med.iss.meditor.actions.SaveToServer"
               id="gov.va.med.iss.meditor.actions.SaveToServer"
               label="Save to Server"
               menubarPath="gov.va.med.iss.meditor.mserverutil.topmenu/seperator1">
         </action>
      </objectContribution>
   </extension>
</plugin>
