<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!--
   id="org.eclipse.debug.examples.ui"
   name="org.eclipse.debug.examples.ui"
   version="1.0.0"

   <runtime>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.examples.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
   </requires>
-->

	<extension point="org.eclipse.debug.ui.launchShortcuts">
	  <shortcut
	    label="MUMPS"
	    icon="$nl$/icons/full/cview16/pda.gif"
	    modes="run, debug"
	    class="gov.va.mumps.debug.ui.launching.MLaunchShortcut"
	    description="Launch a remote MUMPS routine"
	    id="gov.va.mumps.debug.ui.remoteMShortcut">
	    <description
	     description="Runs a remote MUMPS Routine"
	     mode="run">
	    </description>
	    <description
	     description="Debugs a remote MUMPS Routine"
	     mode="debug">
	    </description>
	  <contextualLaunch>
         <enablement >
           <with variable="selection">
           <count value="1"/>
          <iterate>
            <adapt type="org.eclipse.core.resources.IResource">
                <and>
                <test property="org.eclipse.core.resources.name" value="*.m"/>
            </and>
        </adapt>
          </iterate>
           </with>
       </enablement>
	  </contextualLaunch>
	  <configurationType
	    id="gov.va.mumps.debug.core.launchConfigurationType.m">
	  </configurationType>
	  </shortcut>
	</extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="gov.va.mumps.debug.core.launchConfigurationType.m"
            description="Run or debug a remote MUMPS Routine"
            class="gov.va.mumps.debug.ui.launching.MTabGroup"
            id="gov.va.mumps.debug.ui.launchConfigurationTabGroup.m">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="gov.va.mumps.debug.ui.model.MDebugModelPresentation"
            id="gov.va.mumps.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.debug.examples.ui.pda.model.PDABreakpointAdapterFactory"
            adaptableType="org.eclipse.ui.texteditor.ITextEditor">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Data Stack"
            icon="icons/full/cview16/datastack_view.gif"
            class="org.eclipse.debug.examples.ui.pda.views.DataStackView"
            id="org.eclipse.debug.examples.ui.pda.DataStackView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.VariableView"
               visible="false"
               relationship="stack"
               id="org.eclipse.debug.examples.ui.pda.DataStackView">
         </view>
         <viewShortcut
               id="org.eclipse.debug.examples.ui.pda.DataStackView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="Debugging MUMPS"
            description="Debugging MUMPS"
            id="gov.va.mumps.debug.ui.debugging"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="gov.va.mumps.debug"
            contextId="gov.va.mumps.debug.ui.debugging">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            viewId="org.eclipse.debug.examples.ui.pda.DataStackView"
            contextId="gov.va.mumps.debug.ui.debugging"
            autoClose="true"
            autoOpen="true">
      </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/cview16/pda.gif"
            configTypeID="org.eclipse.debug.examples.core.launchConfigurationType.pda"
            id="org.eclipse.debug.examples.ui.pda.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
