<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.debug.ui.launchShortcuts">
	  <shortcut
	    label="MUMPS"
	    icon="$nl$/icons/full/cview16/pda.gif"
	    modes="run, debug"
	    class="gov.va.mumps.debug.ui.launching.MLaunchShortcut"
	    description="Launch a remote MUMPS routine"
	    id="gov.va.mumps.debug.ui.remoteMShortcut">
	    <description
	     description="Runs a remote MUMPS Routine"
	     mode="run">
	    </description>
	    <description
	     description="Debugs a remote MUMPS Routine"
	     mode="debug">
	    </description>
	  <contextualLaunch>
         <enablement >
           <with variable="selection">
           <count value="1"/>
          <iterate>
            <adapt type="org.eclipse.core.resources.IResource">
                <and>
                <test property="org.eclipse.core.resources.name" value="*.m"/>
            </and>
        </adapt>
          </iterate>
           </with>
       </enablement>
	  </contextualLaunch>
	  <configurationType
	    id="gov.va.mumps.debug.core.launchConfigurationType">
	  </configurationType>
	  </shortcut>
	</extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="gov.va.mumps.debug.core.launchConfigurationType"
            description="Run or debug a remote MUMPS Routine"
            class="gov.va.mumps.debug.ui.launching.MTabGroup"
            id="gov.va.mumps.debug.ui.launchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="gov.va.mumps.debug.ui.model.MDebugModelPresentation"
            id="gov.va.mumps.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="gov.va.mumps.debug.ui.model.MBreakpointAdapterFactory"
            adaptableType="org.eclipse.ui.texteditor.ITextEditor">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="M Variables"
            icon="icons/full/cview16/datastack_view.gif"
            class="gov.va.mumps.debug.ui.custom.variables.VariablesView"
            id="gov.va.mumps.debug.ui.VariablesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.VariableView"
               visible="false"
               relationship="stack"
               id="org.eclipse.debug.examples.ui.pda.DataStackView">
         </view>
         <viewShortcut
               id="org.eclipse.debug.examples.ui.pda.DataStackView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="Debugging MUMPS"
            description="Debugging MUMPS"
            id="gov.va.mumps.debug.ui.debugging"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="gov.va.mumps.debug"
            contextId="gov.va.mumps.debug.ui.debugging">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            viewId="org.eclipse.debug.examples.ui.pda.DataStackView"
            contextId="gov.va.mumps.debug.ui.debugging"
            autoClose="true"
            autoOpen="true">
      </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/cview16/pda.gif"
            configTypeID="org.eclipse.debug.examples.core.launchConfigurationType.pda"
            id="org.eclipse.debug.examples.ui.pda.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.debug.ui.BreakpointView"
            id="gov.va.mumps.debug.ui.breakpointsview.toolbar">
         <!-- Add custom action "Add Tag Breakpoing" to Debug Breakpoints view --> 
         <action
               id="gov.va.mumps.debug.ui.toolbar.addMumpsBreakpoint"
               toolbarPath="mumpsGroup"
               class="gov.va.mumps.debug.ui.breakpoint.AddTagBreakpointActionDelegate"
               icon="$nl$/icons/full/cview16/blue_tag.png"
               label="Add Mumps TagBreakpoint"
               tooltip="Add a Tag as a Breakpoint">
         </action>
         <!-- Add custom action "Add Watchpoint" to Debug Breakpoints view -->
         <action
               id="gov.va.mumps.debug.ui.toolbar.addMumpsWatchpoint"
               toolbarPath="mumpsGroup"
               class="gov.va.mumps.debug.ui.breakpoint.AddWatchpointActionDelegate"
               icon="$nl$/icons/full/cview16/pencil.png"
               label="Add Mumps Watchpoint"
               tooltip="Add a variable to break on when changed">
         </action>
      </viewContribution>
   </extension>
   
   <!-- Add breakpoint toggle (on the vertical ruler bar) to the MEditor plugin -->
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="gov.va.med.iss.meditor.editors.MEditor"
            id="gov.va.mumps.debug.ui.BreakpointRulerActions">
         <action
               label="Toggle M Line Breakpoint"
               class="gov.va.mumps.debug.ui.breakpoint.ToggleMBreakpointRulerActionDelegate"
               actionID="RulerDoubleClick"
               id="gov.va.mumps.debug.ui.actions.ToggleJspBreakpointAction">
         </action>
      </editorContribution>
   </extension>

</plugin>
