<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Debug Model Presentation -->
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="gov.va.mumps.debug.ui.model.MDebugModelPresentation"
            id="gov.va.mumps.debug">
      </debugModelPresentation>
   </extension>
   
   <!-- Won't be moving the lauch delegate to the ui plugin after all
 <extension point="org.eclipse.debug.core.launchDelegates">
  <launchDelegate
    id="gov.va.mumps.debug.ui.launchDelegate"
    delegate="gov.va.mumps.debug.ui.launching.UILaunchDelegate"
    type="gov.va.mumps.debug.core.launchConfigurationType"
    name="MUMPS UI Launch Delegate"
    modes="run, debug"
    perspective="org.eclipse.debug.ui.DebugPerspective"
	delegateDescription="">
  </launchDelegate>
 </extension>-->

   <!-- Toggle breakpoint Adapter Factor -->
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="gov.va.mumps.debug.ui.model.MBreakpointAdapterFactory"
            adaptableType="org.eclipse.ui.texteditor.ITextEditor">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   
   <!-- custom view for showing All of the M variables -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="M Variables"
            icon="icons/full/cview16/datastack_view.gif"
            class="gov.va.mumps.debug.ui.custom.variables.VariablesView"
            id="gov.va.mumps.debug.ui.AllVariablesView">
      </view>
   </extension>
   
   
   <!-- Add the All M Variables view to the debug perspective -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.VariableView"
               visible="false"
               relationship="stack"
               id="gov.va.mumps.debug.ui.AllVariablesView">
         </view>
         <viewShortcut
               id="gov.va.mumps.debug.ui.AllVariablesView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   
   <!-- This is suppose to auto close-open our custom view... maybe -->
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="Debugging MUMPS"
            description="Debugging MUMPS"
            id="gov.va.mumps.debug.ui.debugging"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="gov.va.mumps.debug"
            contextId="gov.va.mumps.debug.ui.debugging">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            viewId="gov.va.mumps.debug.ui.AllVariablesView"
            contextId="gov.va.mumps.debug.ui.debugging"
            autoClose="true"
            autoOpen="true">
      </contextViewBinding>
   </extension>
   
   <!-- Simply registers an image to a launch configuration type -->
   <!-- TODO: find an M or MUMPS related icon -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/cview16/meditor.gif"
            configTypeID="gov.va.mumps.debug.core.launchConfigurationType"
            id="gov.va.mumps.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.debug.ui.BreakpointView"
            id="gov.va.mumps.debug.ui.breakpointsview.toolbar">
         <!-- Add custom action "Add Tag Breakpoing" to Debug Breakpoints view --> 
         <action
               id="gov.va.mumps.debug.ui.toolbar.addMumpsBreakpoint"
               toolbarPath="mumpsGroup"
               class="gov.va.mumps.debug.ui.breakpoint.AddTagBreakpointActionDelegate"
               icon="$nl$/icons/full/cview16/blue_tag.png"
               label="Add Mumps TagBreakpoint"
               tooltip="Add a Tag as a Breakpoint">
         </action>
         <!-- Add custom action "Add Watchpoint" to Debug Breakpoints view -->
         <action
               id="gov.va.mumps.debug.ui.toolbar.addMumpsWatchpoint"
               toolbarPath="mumpsGroup"
               class="gov.va.mumps.debug.ui.breakpoint.AddWatchpointActionDelegate"
               icon="$nl$/icons/full/cview16/pencil.png"
               label="Add Mumps Watchpoint"
               tooltip="Add a variable to break on when changed">
         </action>
      </viewContribution>
   </extension>
   
   <!-- Add breakpoint toggle (on the vertical ruler bar) to the MEditor plugin -->
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="gov.va.med.iss.meditor.editors.MEditor"
            id="gov.va.mumps.debug.ui.BreakpointRulerActions">
         <action
               label="Toggle M Line Breakpoint"
               class="gov.va.mumps.debug.ui.breakpoint.ToggleMBreakpointRulerActionDelegate"
               actionID="RulerDoubleClick"
               id="gov.va.mumps.debug.ui.actions.ToggleJspBreakpointAction">
         </action>
      </editorContribution>
   </extension>
   
   <!-- Register the ui tabs needed for the launch configuration -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="gov.va.mumps.debug.core.launchConfigurationType"
            description="Run or debug a remote MUMPS Routine"
            class="gov.va.mumps.debug.ui.launching.MTabGroup"
            id="gov.va.mumps.debug.ui.launchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   
	<!-- Add a shortcut to execute the launch configuration type. Handy for just clicking the debug/run icon while an M file is open.-->
	<extension point="org.eclipse.debug.ui.launchShortcuts">
	  <shortcut
	    label="MUMPS"
	    icon="$nl$/icons/full/cview16/meditor.gif"
	    modes="run, debug"
	    class="gov.va.mumps.debug.ui.launching.MLaunchShortcut"
	    description="Launch a remote MUMPS routine"
	    id="gov.va.mumps.debug.ui.remoteMShortcut">
	    <description
	     description="Runs a remote MUMPS Routine"
	     mode="run">
	    </description>
	    <description
	     description="Debugs a remote MUMPS Routine"
	     mode="debug">
	    </description>
	  <contextualLaunch>
         <enablement >
           <with variable="selection">
           <count value="1"/>
          <iterate>
            <adapt type="org.eclipse.core.resources.IResource">
                <and>
                <test property="org.eclipse.core.resources.name" value="*.m"/>
            </and>
        </adapt>
          </iterate>
           </with>
       </enablement>
	  </contextualLaunch>
	  <configurationType
	    id="gov.va.mumps.debug.core.launchConfigurationType">
	  </configurationType>
	  </shortcut>
	</extension>
	
   <!-- copied from JDT's debug.ui plugin: -->
<!-- Adds the launch and java debug actions whenever a java relevant part is open -->
   <!-- <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.jdt.debug.ui.JDTDebugActionSet">
         <part
               id="org.eclipse.jdt.ui.PackageExplorer">
         </part>
         <part
               id="org.eclipse.jdt.ui.TypeHierarchy">
         </part>
         <part
               id="org.eclipse.jdt.ui.CompilationUnitEditor">
         </part>
         <part
               id="org.eclipse.jdt.ui.ClassFileEditor">
         </part>
         <part
               id="org.eclipse.jdt.ui.ProjectsView">
         </part>
         <part
               id="org.eclipse.jdt.ui.PackagesView">
         </part>
         <part
               id="org.eclipse.jdt.ui.TypesView">
         </part>
         <part
               id="org.eclipse.jdt.ui.MembersView">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.debug.ui.launchActionSet">
         <part
               id="org.eclipse.jdt.ui.PackageExplorer">
         </part>
         <part
               id="org.eclipse.jdt.ui.TypeHierarchy">
         </part>
         <part
               id="org.eclipse.jdt.ui.CompilationUnitEditor">
         </part>
         <part
               id="org.eclipse.jdt.ui.ClassFileEditor">
         </part>
         <part
               id="org.eclipse.jdt.ui.ProjectsView">
         </part>
         <part
               id="org.eclipse.jdt.ui.PackagesView">
         </part>
         <part
               id="org.eclipse.jdt.ui.TypesView">
         </part>
         <part
               id="org.eclipse.jdt.ui.MembersView">
         </part>
      </actionSetPartAssociation>
   </extension>-->

</plugin>
